TENDERLY_ACCESS_TOKEN=<your-tenderly-access-token>
TENDERLY_VIRTUAL_TESTNET_RPC_URL=https://virtual.rpc.tenderly.co/<account>/<project>/private/<testnet-slug>/<uuid>
TENDERLY_VERIFIER_URL=${TENDERLY_VIRTUAL_TESTNET_RPC_URL}/verify/etherscan
TENDERLY_CHAIN_ID=30
CONTRACT_ADDRESS=0xa15bb66138824a1c7167f5e85b957d04dd34e468
CONTRACT_FILE_PATH=contracts/utils/RootstockUsdtSwap.sol
CONTRACT_NAME=RootstockUsdtSwap
CONTRACT_FULLY_QUALIFIED_NAME=contracts/utils/RootstockUsdtSwap.sol:RootstockUsdtSwap
SOLC_VERSION=0.8.17
