TENDERLY_ACCESS_TOKEN=dagmhsE0M2uJbjARKcjCiAp2p0sj7Lan
TENDERLY_VIRTUAL_TESTNET_RPC_URL=https://virtual.rpc.tenderly.co/SOV/tenderlyfork/private/test-rusdt-usdt-swap/de337f04-eb68-46e9-bdd8-6f2c4adc7246
TENDERLY_VERIFIER_URL=${TENDERLY_VIRTUAL_TESTNET_RPC_URL}/verify/etherscan
TENDERLY_CHAIN_ID=30
CONTRACT_ADDRESS=0xa15bb66138824a1c7167f5e85b957d04dd34e468
CONTRACT_FILE_PATH=contracts/utils/RootstockUsdtSwap.sol
CONTRACT_NAME=RootstockUsdtSwap
CONTRACT_FULLY_QUALIFIED_NAME=contracts/utils/RootstockUsdtSwap.sol:RootstockUsdtSwap
SOLC_VERSION=0.8.17
