__pycache__
.pytest_cache
.DS_Store
.history
.hypothesis/
.gradle/
build/
reports/
node_modules/
node_modules
ignore/
.*
!.gitignore
!.gitattributes
!.solhint.json
!.solhintignore
!.eslintignore
ignore
*.txt
*.log
!requirements.txt
*_ignore_*
*_joined_*
coverage
coverage.json
.vscode
yarn.lock
solc-select
artifacts
cache
.idea/
*.code-workspace
.env
node_modules
artifacts/
cache/
contracts_bzx/
tmp/
tmp
/temp/
/out/
abi
types/
typechain/
!.github/
