__pycache__
.pytest_cache
.DS_Store
.history
.hypothesis/
.gradle/
build/
reports/
node_modules/
ignore/
!.gitignore
!.gitattributes
!.solhint.json
ignore
*.txt
*.log
!requirements.txt
*_ignore_*
*_joined_*
coverage
coverage.json
.vscode
yarn.lock
solc-select
.idea/
.env
node_modules
artifacts/
cache/
contracts_bzx/
tmp/
tmp