__pycache__
.DS_Store
.history
.hypothesis/
artifacts/
build/
reports/
node_modules/
!.solhint.json
package-lock.json
coverage
coverage.json
docs
truffle-config.js
package.json
hardhat.config.js
hardhat-ganache-tests.config.js
cache
brownie-config.yaml
.vscode
abi
*.md
types/
