language: node_js
os: linux
dist: xenial
node_js:
  - "10"

cache:
  directories:
  - node_modules

before_install:
  - export NODE_OPTIONS=--max_old_space_size=8192

install:
  - npm install

script:
  - yarn lint-contracts
  - yarn test-js
  - yarn coverage

after_script:
  - cat coverage/lcov.info | coveralls
